
/*@import url('./Fonts/comfortaa-v30-latin-ext_latin');



/* General Rules */
html {
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    background-color:rgba(17, 17, 17, 1);
     /* #f6f5f3; */
}
body{
    /* background-color: #f6f5f3;; */
    background-color:rgba(17, 17, 17, 1);
}
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: none;
}

@font-face {
    font-family: 'Comfortaa'; 
    src: url('./Fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf'); 
}  
 

/*              Load Screen             */
.hidden{
    opacity: 0;
}
.gif{
    position: fixed;
    top: 35%;
    left: 42%;
    z-index: 1030;
    width: 15%;
}
#load-screen{
    background-color: rgba(17, 17, 17, 0.97);
    -webkit-backdrop-filter: saturate(300%) blur(15px);
    backdrop-filter: saturate(200%) blur(10px);
    position: fixed;
    height: 120%;
    width: 103%;
    z-index: 1005;
    transition: opacity 1.5s ease-in-out;
}



.SMbtn{
    height: 2vw;
}

.SM-Logo{
    height: 100%;
   
    
}
.SM-Logo:hover {
    border-radius: 10%;
    transition: background-color 0.1s ease-in-out;
    background-color: blanchedalmond;

    box-shadow: 4px 4px 15px 1px black;     
}

@media (max-width: 1000px) {
    .SMbtn{
        height: 3vh;
        padding: 0 3vw 0 3vw;
    }
}





.seperation-line{
    display: block;
    margin: 7vw auto 3vw auto;
    width: 40vw;

                                        /* Fancy seperation lines made invisable  */
    visibility: hidden;  
}
#education-line{
    margin-top: 10vw;
}

    .title-name {
        background-color: rgba(17, 17, 17, 1);
        text-align: center;
        color: blanchedalmond;
        font-family: 'Comfortaa';
        font-weight: 900;
        font-size: clamp(20px,3.2vw,300px);
        width: 100%;
        padding: 1vh 0 0.5vh 0;
    }

    #nav-options{
        transition: background 0.2s ease-in-out;
        -webkit-backdrop-filter: saturate(200%) blur(10px);
        backdrop-filter: saturate(200%) blur(10px);
        background-color: rgba(17, 17, 17, 1); 
        position: sticky;
        top: 0;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        z-index: 1000;
    }

        #nav-options li {
            float: left;
            padding: 2vh 3vw 2vh 3vw;
            background-color: transparent;
            text-align: center;
            /* width: calc(6% + 3vh); */
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            z-index: 100;
            cursor: pointer;
            
        }

        #nav-options li:hover p{
            transition: color 0.1s ease-in-out;
            color: rgb(246, 245, 243);            
        }

            #nav-options li p{
                color: blanchedalmond;
                text-align: center;
                font-weight: bold;
                z-index: 100;
                font-size: clamp(10px,1.5vw,300px);
              
                
            }


#nav-image{
    display: block;
    width: 100%;
    z-index: 1;
    margin-bottom: -10%;
    
    border-top-left-radius: 70% 7%;
    border-top-right-radius: 70% 7%;
    border-bottom-left-radius: 50% 14%;
    border-bottom-right-radius: 60% 10%;
}



/*  Main */


/* Intro Section */

#intro-pic-1{
    box-shadow: 4px 4px 15px 1px black;
    width: 30%;
    z-index: 2;
    margin-left: 1%;
    margin-right: 3%;
    border-radius: 2%;
}

#intro-pic-2{
    margin-bottom: 20%;
    width: 17%;
    z-index: 2;
    border-radius: 2%;
    box-shadow: 4px 4px 15px 1px black;
}

.intro-text-container{
    position: relative;
    float: right;
    max-width: 40%;
    margin: 10% 5vw 0 0;
    z-index: 2;
}

    .intro-text-container p {
        font-family: 'Comfortaa' ;
        font-weight: bolder;
        font-size: 2.2vw;
        text-align: left;
        line-height: 150%;
        padding: 5%;
        color: blanchedalmond;
        z-index: 2;
        
    }



/* General Section Styling */

.section-header{
    font-size: 3.5vw;
    margin: 0 0 3vw 2vw ;
    color: blanchedalmond;
    text-decoration: underline;
}


/* UIC Education Section */

#uic-container{
    margin: 0vw 4vw 2vw 4vw;  
}
    .uic-portion{
        display: inline-block; 
    }

        #uic-logo-container{
            width: 31vw;
        }
            .uic-portion img{
                    width: 100%;
                    float: right; 
                    vertical-align: middle;  
            }

        #uic-description {
            margin-right: 4vw;
            border-color:black;
            width: 54vw;
            
        }
            #uic-description p {
                font-size: 2.2vw;
                font-family: 'Comfortaa';
                font-weight: 900;
                line-height: 150%;
                color: blanchedalmond;
            }


/* Machon Yaakov Education Section */


.MY-container{
    display: table;
    margin: 5vw 4vw 2vw 4vw;   
}

.MY-portion{
    display: table-cell;  
    vertical-align: middle; 
    border-spacing: 4vw;
}

    #MY-logo-container{
        width: 31vw;
    }
        .MY-portion img{
            width: 100%;
            float: left;
        }

    #MY-description {
        margin-left: 4vw;
        width: 54vw ;
    }
        #MY-description p {
            color: black;
            font-size: 2.2vw;
            font-family: 'Comfortaa';
            font-weight: 900;
            line-height: 150%;
            text-align: left;
            color: blanchedalmond;
        }



/* Projects Section */

#RF-container{
    border: thin solid rgb(34, 24, 65);
    border-radius: 2vw;
    margin: 7vw 4vw 0 4vw;
    box-shadow: 0px 0px 5px 1px rgb(48, 35, 80);
    perspective: 1000px;
    width: 90vw;
}

    #RF-container h3{
        margin: 1vw 0 0 0 ;
        color: blanchedalmond;
        text-align: center;
        font-size: 3vw;
        font-weight: 900;
        
        
    }

    #RFdescription{
            margin: 2vw 2vw 2vw 2vw;
            width: 86vw;
    }
        #RFdescription p{
            font-size: 2.2vw;
            font-family: 'Comfortaa';
            font-weight: 900;
            line-height: 150%;
            text-align: left;
            color: blanchedalmond;
            
        }

    .RF-images{
        display: table;
        table-layout: auto;
        width: 83vw;
        padding: 1vw 0 4vw 2.5vw;

    }

    .RFcard-holder{
        display: inline-table;
        width: 27vw;
        perspective: 1000px;
        cursor: pointer;
    }

        .RFcard-holder:hover .RFcard-Inner{
            transform: rotateY(180deg);
        }

        .RFcard-Inner{
            width: 100%;
            transition: 0.4s;
            transform-style: preserve-3d;
            text-align: center;
        }

        .RFfront-side{
            width: 100%;
            position: absolute;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            min-width: 27vw;
        }
            .RF-image{
                width: 100%;
            }


        #front-side3{
            width: 32vw;
        }
            #RF-joined3-4{
                width: 100%;
            }
        
        .RFback-side{
            text-align: left;
            display: inline-table;
            transform: rotateY(180deg);
            width: 80%;
            height: 41vw;
            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden; 
            min-width: 80%;
            padding: 7% 7% 7% 7%;
            margin: 7% 0 0 0;
            background-color: rgb(28, 26, 34);
            color:rgb(146, 143, 134);
            border-radius: 1vw;
            box-shadow: 3px 3px 10px 1px black;
        }


        .RFback-side p {
            font-size: 1.9vw;
            font-family: 'Comfortaa';
            font-weight: 900;
            line-height: 130%;
            
        }
        
    #PG_container{
    border: thin solid rgb(64, 69, 62);
    border-radius: 2vw;
    margin: 5vw 4vw 0 4vw;
    box-shadow: 0px 0px 5px 1px rgb(143, 215, 114);
    perspective: 1000px;
    width: 90vw;
    }
        #PG_container h3{
            margin: 1% 0 0 0 ;
            color: blanchedalmond;
            text-align: center;
            font-size: 3vw;
            font-weight: 900;
            
        }
        #PG_container p{
            margin: 2% 3% 0 4%;
            width: 93%;
            font-size: 2.2vw;
            font-family: 'Comfortaa';
            font-weight: 900;
            line-height: 150%;
            text-align: left;
            color: blanchedalmond;
            
        }
        #PG_container img{
            float: left;
            margin: 3% 3% 0 5%;
            width: 40vw;
            box-shadow: 2px 2px 10px 1px black;
        }
        #PG_container a{
            display: inline-block;
            width: 100%;
            margin: 2% 0 2% 0;
            font-size: 2vw;
            font-family: 'Comfortaa';
            font-weight: 900;
            text-align: center;
            color: rgb(143, 215, 114);
            text-decoration: none;
        }
        







/* Hobbies section */

.h-portion{
    margin: 1vw 0 4vw 0 ;
    padding: 0;
    height: 35vw;
}
    #moto-section{
        margin-bottom: 0%;
    }

    .hobbies-section section p{
        color: blanchedalmond;
        margin: 0 4vw 0% 4vw;
        font-size: 2.2vw;
        font-family: 'Comfortaa';
        font-weight: bold;
        line-height: 150%;
        text-align: left;
        
    }

    .hobbies-section section img{
        box-shadow: 2px 2px 8px 0.5px black;
        border-radius: 2%;
        margin: 1% 4% 2% 4%;
    }

.motorcycle-img{
    width: 30vw;
    float: right;
}

.engine-img{
    width: 20vw;
    float: left;
}
.macbook-img{
    width: 40vw;
    float: right;
}
.macbook-text{
    padding: 0 0 0 0;
}


footer{
    display: table;
    margin: 40vw 0 0 0;
    background-color:rgb(17, 17, 17);
    height: 2vw;
    width: 100%;
}
footer p {
    display: table-cell;
    color:rgba(236, 223, 198, 0.7);
    vertical-align: middle;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(8px,1.2vw,3000px);
    font-weight: lighter;
}

